<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Zoho</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.login.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupCreate</display-name>
    <servlet-name>SignupCreate</servlet-name>
    <servlet-class>com.login.SignupCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupCreate</servlet-name>
    <url-pattern>/SignupCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupJoin</display-name>
    <servlet-name>SignupJoin</servlet-name>
    <servlet-class>com.login.SignupJoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupJoin</servlet-name>
    <url-pattern>/SignupJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.login.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoInviteJoin</display-name>
    <servlet-name>NoInviteJoin</servlet-name>
    <servlet-class>com.login.NoInviteJoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoInviteJoin</servlet-name>
    <url-pattern>/NoInviteJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Convert</display-name>
    <servlet-name>Convert</servlet-name>
    <servlet-class>com.login.Convert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Convert</servlet-name>
    <url-pattern>/Convert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Opening</display-name>
    <servlet-name>Opening</servlet-name>
    <servlet-class>com.login.Opening</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Opening</servlet-name>
    <url-pattern>/Opening</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>candidateLogin</display-name>
    <servlet-name>candidateLogin</servlet-name>
    <servlet-class>com.login.candidateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>candidateLogin</servlet-name>
    <url-pattern>/candidateLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAppliedRole</display-name>
    <servlet-name>GetAppliedRole</servlet-name>
    <servlet-class>com.login.GetAppliedRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAppliedRole</servlet-name>
    <url-pattern>/GetAppliedRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateApply</display-name>
    <servlet-name>CandidateApply</servlet-name>
    <servlet-class>com.login.CandidateApply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateApply</servlet-name>
    <url-pattern>/CandidateApply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateJob</display-name>
    <servlet-name>CreateJob</servlet-name>
    <servlet-class>com.login.CreateJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateJob</servlet-name>
    <url-pattern>/CreateJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConvertJobs</display-name>
    <servlet-name>ConvertJobs</servlet-name>
    <servlet-class>com.login.ConvertJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConvertJobs</servlet-name>
    <url-pattern>/ConvertJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRestrictions</display-name>
    <servlet-name>ChangeRestrictions</servlet-name>
    <servlet-class>com.login.ChangeRestrictions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRestrictions</servlet-name>
    <url-pattern>/ChangeRestrictions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeApplyStatus</display-name>
    <servlet-name>ChangeApplyStatus</servlet-name>
    <servlet-class>com.login.ChangeApplyStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeApplyStatus</servlet-name>
    <url-pattern>/ChangeApplyStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedisLogin</display-name>
    <servlet-name>RedisLogin</servlet-name>
    <servlet-class>com.login.RedisLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedisLogin</servlet-name>
    <url-pattern>/RedisLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePgNo</display-name>
    <servlet-name>ChangePgNo</servlet-name>
    <servlet-class>com.login.ChangePgNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePgNo</servlet-name>
    <url-pattern>/ChangePgNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBubbleCount</display-name>
    <servlet-name>GetBubbleCount</servlet-name>
    <servlet-class>com.login.GetBubbleCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBubbleCount</servlet-name>
    <url-pattern>/GetBubbleCount</url-pattern>
  </servlet-mapping>
</web-app>